@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;

        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;

        --primary: 89 80% 44%;
        --primary-foreground: 0 0% 98%;

        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 9%;

        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;

        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 9%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;

        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: 89 80% 44%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 239 7% 11%;
        --foreground: 0 0% 98%;

        --card: 239 5% 14%;
        --card-foreground: 0 0% 98%;

        --popover: 240 5.9% 9%;
        --popover-foreground: 0 0% 98%;

        --primary: 89 80% 44%;
        --primary-foreground: 240 5.9% 9%;

        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;

        --muted: 240 3.7% 15.9%;
        --muted-foreground: 240 5% 64.9%;

        --accent: 240 3.7% 15.9%;
        --accent-foreground: 0 0% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;

        --border: 240 3.7% 35.9%;
        --input: 240 3.7% 15.9%;
        --ring: 89 80% 44%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
    .container-page {
        @apply mx-auto px-20 py-8;
    }
    input[type="checkbox"] {
        -webkit-appearance: none; /* Remove default checkbox style on Safari */
        -moz-appearance: none; /* Remove default checkbox style on Firefox */
        appearance: none; /* Remove default checkbox style on other browsers */
        width: 20px; /* Adjust the size of the checkbox */
        height: 20px; /* Adjust the size of the checkbox */
        border-radius: 4px; /* Add some border radius for a rounded look */
        outline: none; /* Remove the highlight when focused */
        transition: background-color 0.3s; /* Add a smooth transition effect */
    }
    .modal-relation .lucide-x {
        display: none;
    }
}
